/*Gallary*/
.gallary-card{ border-radius:0px ; transition:.5s ; -webkit-transition:.5s ; -moz-transition:.5s ; -ms-transition:.5s ; -o-transition:.5s ; -webkit-border-radius:0px; -moz-border-radius:0px; -ms-border-radius:0px; -o-border-radius:0px; }
.gallary-card:hover{box-shadow:10px 10px 20px rgb(153, 177, 189) ; border:rgb(47, 0, 255) 1px solid}